<%-include("header")-%>
<div class="wrappper">
  <div class="main-nav">
    <div>
      <h1 style="margin-right: 10px">
        <img width="40px" height="40px" src="/img/logo.png" alt="News Logo" />
        NEWS
      </h1>
    </div>
    <%-include("links")-%>
  </div>
  <div class="header">
    <!-- <div>
      <h2><%=greetings%></h2>
    </div> -->
    <div class="headlines">
      <h1 class="head">Latest headlines</h1>
    </div>
  </div>

  <div class="container-wraper">
    <section class="category">
      <div>
        <div class="inside images" style="border-bottom: none">
          <!-- <legend> -->

          <!-- </legend> -->
          <div class="image">
            <img width="800" height="300" src="<%-image%>" alt="" />
            <div class="section">
              <div class="text">
                <p><%=excerpt%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="inside">
          <!-- <legend>
            <h2 class="title">
              Video
              <a href="/videos"><button class="pockettext">se</button></a>
            </h2>
          </legend> -->
          <div class="iframe-container image">
            <div class="iframe1">
              <img
                width="378"
                height="150"
                src="<%-ImageFive%>"
                width="378"
                height="150"
              />
            </div>
            <div class="iframe2">
              <h2><%=Title5%></h2>
              <p><%=excerpts4%></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="category">
      <div>
        <div class="inside images">
          <legend class="heads">
            <!-- <h2>Sports News <button class="pockettext">see all</button></h2> -->
          </legend>
          <div class="sportsnews image">
            <p><%=excerpts2%></p>
          </div>
          <div class="sportsnews image">
            <p><%=excerpts3%></p>
          </div>
        </div>
      </div>
      <div class="politics">
        <div class="images">
          <!-- <legend>
            <h2>
              Political News
              <button class="pockettext">see all</button>
            </h2>
          </legend> -->
          <div class="political">
            <div class="politiqs image">
              <img src="<%-ImageSix%>" width="60" height="60" alt="" />
              <p><%=excerpts%></p>
            </div>
            <div class="politiqs image">
              <img src="<%-ImageThree%>" width="60" height="60" alt="" />
              <p><%=excerpts5%></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="info">
    <img src="<%-ImageFour%>" width="600" height="250" alt="" />
    <div>
      <h2><%=Title7%></h2>
      <p><%=excerpts6%></p>
      <br />
      <!-- <a href="#" class="btn">Learn More</a> -->
    </div>
  </section>
  <div class="container-wraper">
    <section class="category">
      <div>
        <div class="inside images">
          <legend class="heads">
            <!-- <h2>Sports News <button class="pockettext">see all</button></h2> -->
          </legend>
          <div class="sportsnews image">
            <p><%=excerpts2%></p>
          </div>
          <div class="sportsnews image">
            <p><%=excerpts3%></p>
          </div>
        </div>
      </div>
      <div class="politics">
        <div class="images">
          <!-- <legend>
            <h2>
              Political News
              <button class="pockettext">see all</button>
            </h2>
          </legend> -->
          <div class="political">
            <div class="politiqs image">
              <img src="<%-ImageSix%>" width="60" height="60" alt="" />
              <p><%=excerpts%></p>
            </div>
            <div class="politiqs image">
              <img src="<%-ImageThree%>" width="60" height="60" alt="" />
              <p><%=excerpts5%></p>
            </div>
          </div>
        </div>
        <div>
          <div class="inside images" style="border-bottom: none">
            <!-- <legend> -->
  
            <!-- </legend> -->
            <div class="image">
              <img width="800" height="300" src="<%-image%>" alt="" />
              <div class="section">
                <div class="text">
                  <p><%=excerpt%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="political">
          <div class="politiqs image">
            <img src="<%-ImageSix%>" width="60" height="60" alt="" />
            <p><%=excerpts%></p>
          </div>
          <!-- <div class="politiqs image">
            <img src="<%-ImageThree%>" width="60" height="60" alt="" />
            <p><%=excerpts5%></p>
          </div> -->
        </div>
      </div>
    </section>
    <section class="category">
      <div>
        <div class="inside images" style="border-bottom: none">
          <!-- <legend> -->

          <!-- </legend> -->
          <div class="image">
            <img width="800" height="300" src="<%-image%>" alt="" />
            <div class="section">
              <div class="text">
                <p><%=excerpt%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="inside">
          <!-- <legend>
            <h2 class="title">
              Video
              <a href="/videos"><button class="pockettext">se</button></a>
            </h2>
          </legend> -->
          <div class="iframe-container image">
            <div class="iframe1">
              <img
                width="378"
                height="150"
                src="<%-ImageFive%>"
                width="378"
                height="150"
              />
            </div>
            <div class="iframe2">
              <h2><%=Title5%></h2>
              <p><%=excerpts4%></p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="inside images">
          <legend class="heads">
            <!-- <h2>Sports News <button class="pockettext">see all</button></h2> -->
          </legend>
          <div class="sportsnews image">
            <p><%=excerpts2%></p>
          </div>
          <!-- <div class="sportsnews image">
            <p><%=excerpts3%></p>
          </div> -->
        </div>
      </div>
    </section>
  </div>
  <section class="info">
    <img src="<%-ImageFour%>" width="600" height="250" alt="" />
    <div>
      <h2><%=Title7%></h2>
      <p><%=excerpts6%></p>
      <br />
      <!-- <a href="#" class="btn">Learn More</a> -->
    </div>
  </section>
</div>
<%-include("footer")-%>
